@import 'components/all';
@import 'libs/normalize';
@import 'fonts';
@import 'variables';
body {
    background-color: #E5E5E5;
}

.content {
    margin: 30px 60px 20px;
    @media (max-width: 1024px) {
        margin: 30px;
    }
    @media (max-width: 480px) {
        margin: 20px 0;
    }
}